html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} 



#nav-container{
    z-index: 5;
    position:sticky;
    margin-inline:auto;
    display: flex;
    justify-content: space-between;
    padding:16px;
    box-sizing: border-box;
    align-items: center;
    top:95%;
    width:90%;
    margin-bottom:16px;
    height:fit-content;
    border-radius: 32px;
    border:1px solid #81c1e3;

}